
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #2842573d;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.navigation a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(235, 229, 221);
    position: relative;
    font-size: 20px;
    margin-left: 40px;
}

.navigation .btnLogin-popup{
    font-weight: 400;
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #e7ee51;
    font-weight: 400;
    margin-left: 40px;
    transition: 0.5s;
}

.navigation .btnLogin-popup:hover{
    background: #e7ee51;
    color: #162938;
}

.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #e7ee51;
    border-radius: 5px;
    left: 0;
    bottom: -7px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.navigation a:hover:after{
   transform: scaleX(1);
   transform-origin: left;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(pexels-ketut-subiyanto-4353618.jpg);
    background-size: cover;
    background-position: center;
    
}

.wrapper{
    position: relative;
    width: 400px ;
    height: 440px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(235, 229, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.wrapper.form-box{
    width: auto;
    padding: 40px;
}

.form-box h2{
    font-size: 3rem;
    color: #162938;
    text-align: center;

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
    
}

.input-box label{
    position: absolute;
    top:50% ;
    left: 5px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}


.input-box input{
    width: 150%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    color:#162938 ;
    padding: 0 35px 0 7px;

}

.input-box .icon{
    position: absolute;
    right: -15px;
    font-size: 20px;
    margin-top: 15px;
}

.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px ;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot label{
    accent-color: #162938;
    margin-bottom: 2px;
}


.remember-forgot a{
    color: #162938;
    margin-left: 20px;
    text-decoration: none;
}

.remember-forgot a:hover{
text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    border-radius: 20px;
    background: #162938;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
}

.Login-register{
    font-size: 15px;
    color: #162938;
    font-weight: 500;
    text-align: center;
    margin: 15px 0 10px;
}

.Login-register p a{
    text-decoration: none;
    font-weight: 600;
}

.Login-register p a:hover{
    text-decoration: underline;
}